/* front end pages */
/* fonts */
/* line 30, ../sass/style.scss */
body {
  font-family: "Open Sans", sans-serif;
  color: #001F46;
}

/* line 34, ../sass/style.scss */
h1, h2, h3, h4, h4, h5, h6 {
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
}

/* line 38, ../sass/style.scss */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 39, ../sass/style.scss */
h2 {
  font-size: 22px;
  color: #4891DC;
}

/* line 40, ../sass/style.scss */
h3 {
  font-size: 20px;
}

/* line 41, ../sass/style.scss */
h4 {
  font-size: 20px;
  color: #4891DC;
}

/* line 42, ../sass/style.scss */
h5 {
  font-size: 18px;
}

/* line 43, ../sass/style.scss */
h6 {
  font-size: 12px;
}

/* line 44, ../sass/style.scss */
p {
  font-size: 16px;
}

/* content */
/* line 50, ../sass/style.scss */
#content {
  min-height: 450px;
}

/* line 54, ../sass/style.scss */
.introduction {
  padding: 20px;
  background-color: #ECECFB;
  margin-bottom: 20px;
}

/* misc */
/* line 62, ../sass/style.scss */
.marginTop {
  margin-top: 20px;
}

/* line 66, ../sass/style.scss */
.picleft img {
  float: left;
  margin-right: 20px;
}

/* line 70, ../sass/style.scss */
.picright img {
  float: right;
  margin-left: 20px;
}

/* line 75, ../sass/style.scss */
.clearfix {
  clear: both;
}

/* line 78, ../sass/style.scss */
.showmore a:before {
  content: "\f067";
  font-family: fontawesome;
  font-weight: bold;
  padding-right: 10px;
}

/* line 84, ../sass/style.scss */
.showmore {
  display: block;
  margin: 20px 0;
}

/* line 88, ../sass/style.scss */
.showmore a:hover {
  text-decoration: none;
}

/* wraps */
/* line 95, ../sass/style.scss */
.headerwrap {
  background-image: url(../img/watermark.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 100px) 50%;
  background-color: #002147;
}

/* line 101, ../sass/style.scss */
.footerwrap {
  background-color: #002147;
}

/* header */
/* line 109, ../sass/style.scss */
.barTop {
  height: 15px;
  background-color: #4891DC;
}

/* line 113, ../sass/style.scss */
.oxlogo, .sitelogo {
  padding: 55px 20px 0 0;
  float: left;
}

/* line 117, ../sass/style.scss */
.header {
  height: 230px;
  position: relative;
}
/* line 120, ../sass/style.scss */
.header a, .header a:hover {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
/* line 124, ../sass/style.scss */
.header .searchTxt {
  padding-left: 10px;
  font-size: 16px;
  color: white;
}
/* line 128, ../sass/style.scss */
.header .sitename {
  float: left;
  padding: 46px 20px 0 0;
  color: white;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}
/* line 135, ../sass/style.scss */
.header .searchBtn {
  border: none;
  background: none;
  color: white;
  margin-left: -20px;
}
/* line 141, ../sass/style.scss */
.header .searchBox input[type='input'] {
  width: 200px;
}

/* header icons */
/* line 148, ../sass/style.scss */
.header .searchBox {
  padding-top: 80px;
}
/* line 151, ../sass/style.scss */
.header .fa-search {
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 155, ../sass/style.scss */
.header .fa-exclamation-triangle {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #BE0F34;
}
/* line 161, ../sass/style.scss */
.header .fa-exclamation-triangle {
  text-align: center;
  padding-top: 4px;
}
/* line 165, ../sass/style.scss */
.header .contact {
  padding-left: 5px;
  padding-top: 10px;
}

/* navbar */
/* line 175, ../sass/style.scss */
.navbar-default {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #4891DC;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
/* line 184, ../sass/style.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
  border-right: 1px solid #4C9DEF;
}
/* line 188, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:first-child {
  border-left: 1px solid #4C9DEF;
}
/* line 191, ../sass/style.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active-trail > a {
  background: none;
  color: white;
}
/* line 196, ../sass/style.scss */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active-trail > a:hover,
.navbar-default .navbar-nav > .active-trail > a:focus {
  transition: .3s ease-in-out;
  background-color: #2777ca;
  color: white;
}
/* line 205, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  transition: .3s ease-in-out;
  background-color: #2777ca;
  color: white;
}
/* line 211, ../sass/style.scss */
.navbar-default .navbar-collapse {
  padding-left: 0;
}
/* line 214, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:after,
.navbar-default .navbar-nav > li.active > a:after,
.navbar-default .navbar-nav > li.active-trail > a:after {
  content: "\f0d8";
  font-family: fontawesome;
  font-size: 20px;
  position: absolute;
  bottom: -13px;
  left: 50%;
  color: white;
}
/* line 225, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:hover:after,
.navbar-default .navbar-nav > li.active > a:after,
.navbar-default .navbar-nav > li.active-trail > a:after {
  bottom: -6px;
  transition: .3s ease-in-out;
}
/* line 231, ../sass/style.scss */
.navbar-default .navbar-nav > li:first-child a:after {
  left: 40%;
}

/* sidenav */
/* line 239, ../sass/style.scss */
.sidenav {
  padding-top: 60px;
}
/* line 241, ../sass/style.scss */
.sidenav li a {
  color: #001F46;
  font-size: 1.2em;
}
/* line 245, ../sass/style.scss */
.sidenav li {
  border-bottom: 1px solid #ECECFB;
  padding: 10px 0;
  list-style: none;
}
/* line 250, ../sass/style.scss */
.sidenav li:last-child {
  border: 0;
}
/* line 253, ../sass/style.scss */
.sidenav li.active > a:before {
  content: "\f0da";
  font-family: fontawesome;
  font-weight: bold;
  padding-right: 10px;
  margin-left: -15px;
}
/* line 260, ../sass/style.scss */
.sidenav li a:hover:before {
  content: "\f0da";
  font-family: fontawesome;
  font-weight: bold;
  padding-right: 10px;
  margin-left: -15px;
}
/* line 267, ../sass/style.scss */
.sidenav li a:hover {
  text-decoration: none;
  background: none;
}
/* line 273, ../sass/style.scss */
.sidenav ul > li > ul > li {
  margin-left: 20px;
}

/* home page */
/* line 282, ../sass/style.scss */
#homepage h2 {
  text-align: center;
  padding: 10px;
  margin: 0;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 290, ../sass/style.scss */
#homepage .icon {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 10px;
}
/* line 297, ../sass/style.scss */
#homepage .fa {
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 10px 0;
}
/* line 303, ../sass/style.scss */
#homepage li {
  list-style-type: none;
  margin-left: -38px;
}
/* line 307, ../sass/style.scss */
#homepage .iwantto h2 {
  background-color: #4891DC;
}
/* line 310, ../sass/style.scss */
#homepage .incidentreport h2 {
  background-color: #BE0F34;
  height: 40px;
}
/* line 314, ../sass/style.scss */
#homepage .quicklinks h2 {
  background-color: #CF7A30;
}
/* line 317, ../sass/style.scss */
#homepage .alertsandfixes h2.alerts {
  background-color: #002147;
}
/* line 320, ../sass/style.scss */
#homepage .alertsandfixes h2.fixes {
  background-color: #69913B;
}
/* line 323, ../sass/style.scss */
#homepage .iwanttoBtn span {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  color: #001F46;
}
/* line 329, ../sass/style.scss */
#homepage .iwanttoBtn .icon {
  background-color: #4891DC;
  margin-bottom: 0px;
}
/* line 333, ../sass/style.scss */
#homepage .iwanttoBtn:hover .icon {
  background-color: white;
  color: #4891DC;
  border: 1px solid #4891DC;
}
/* line 338, ../sass/style.scss */
#homepage .iwantto li {
  margin-bottom: 20px;
}
/* line 341, ../sass/style.scss */
#homepage .reportincidentBtn .icon {
  background-color: #BE0F34;
}
/* line 344, ../sass/style.scss */
#homepage .reportincidentBtn:hover .icon {
  background-color: white;
  color: #BE0F34;
  border: 1px solid #BE0F34;
}

/* homepage report incident heading */
/* line 357, ../sass/style.scss */
#homepage .incidentreport .icon {
  background-color: #BE0F34;
  margin-top: -10px;
}
/* line 361, ../sass/style.scss */
#homepage .incidentreport h2 {
  text-align: left;
  color: white;
  font-size: 18px;
  margin-top: -70px;
  padding-left: 65px;
}
/* line 368, ../sass/style.scss */
#homepage .incidentreport li {
  margin-left: -22px;
  list-style-type: disc;
}

/* homepage quick links */
/* line 380, ../sass/style.scss */
#homepage .quicklinks li {
  margin-bottom: 20px;
  margin-left: -40px;
}

/* current alerts */
/* line 388, ../sass/style.scss */
.alert {
  border: 1px solid #eee;
  position: relative;
  margin-top: 30px;
}

/* line 393, ../sass/style.scss */
.alert span {
  display: block;
}

/* line 396, ../sass/style.scss */
.alertDate {
  background-color: #002147;
  color: white;
  position: absolute;
  top: -15px;
  right: 23px;
  padding: 4px;
  width: 100px;
}

/* line 405, ../sass/style.scss */
.alertTitle {
  font-weight: bold;
}

/* security fixes */
/* line 412, ../sass/style.scss */
.fix {
  position: relative;
  margin-top: 20px;
}

/* line 416, ../sass/style.scss */
.fix span {
  display: block;
}

/* line 419, ../sass/style.scss */
.fixRef {
  font-weight: bold;
  display: block;
}

/*  icon buttons */
/* line 428, ../sass/style.scss */
.iconBtn {
  margin: 20px 0 0 0;
}
/* line 431, ../sass/style.scss */
.iconBtn .icon {
  margin: 0;
  padding-top: 10px;
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
/* line 439, ../sass/style.scss */
.iconBtn span {
  font-size: 20px;
  color: #001F46;
}
/* line 443, ../sass/style.scss */
.iconBtn a:hover {
  text-decoration: none;
}
/* line 446, ../sass/style.scss */
.iconBtn .fa {
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 10px 0;
}

/* line 455, ../sass/style.scss */
.reportincidentBtn .icon {
  background-color: #BE0F34;
}
/* line 458, ../sass/style.scss */
.reportincidentBtn :hover .icon {
  background-color: white;
  color: #BE0F34;
  border: 1px solid #BE0F34;
}

/* line 466, ../sass/style.scss */
.helpBtn .icon {
  background-color: #69913B;
}
/* line 469, ../sass/style.scss */
.helpBtn :hover .icon {
  background-color: white;
  color: #69913B;
  border: 1px solid #69913B;
}

/* line 477, ../sass/style.scss */
.iwanttoBtn .icon, .reportincidentBtn .icon, .helpBtn .icon {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 482, ../sass/style.scss */
.iwanttoBtn:hover .icon, .reportincidentBtn:hover .icon, .helpBtn:hover .icon {
  transform: scale(1.2);
}

/* guidance and policy */
/* line 489, ../sass/style.scss */
.boxWrap a {
  color: white;
  text-decoration: none;
}

/* line 495, ../sass/style.scss */
.gandpKey .fa {
  display: table;
  padding-top: 10px;
  margin-left: -38px;
  font-size: 16px;
}
/* line 501, ../sass/style.scss */
.gandpKey li:before {
  padding-right: 20px;
}

/* line 506, ../sass/style.scss */
.pandgBox {
  margin-bottom: 20px;
  width: 100%;
  Height: 200px;
  background-image: url(../img/watermark.png);
  color: white;
  text-align: center;
  position: relative;
}
/* line 515, ../sass/style.scss */
.pandgBox .pandgTitle {
  font-size: 22px;
  font-family: "Merriweather", serif;
  display: block;
  padding: 30px 10px 10px 10px;
}
/* line 521, ../sass/style.scss */
.pandgBox .pandgText {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

/* line 532, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+1) .pandgBox, .pandgBoxes .boxWrap:nth-child(5n+1) .pandgText {
  background-color: #4891DC;
}
/* line 533, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+1) .pandgBox {
  background-position: 0px 0px;
}

/* line 536, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+2) .pandgBox, .pandgBoxes .boxWrap:nth-child(5n+2) .pandgText {
  background-color: #69913B;
}
/* line 537, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+2) .pandgBox {
  background-position: 100px 100px;
}

/* line 540, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+3) .pandgBox, .pandgBoxes .boxWrap:nth-child(5n+3) .pandgText {
  background-color: #CF7A30;
}
/* line 541, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+3) .pandgBox {
  background-position: 200px 0px;
}

/* line 544, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+4) .pandgBox, .pandgBoxes .boxWrap:nth-child(5n+4) .pandgText {
  background-color: #BE0F34;
}
/* line 545, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+4) .pandgBox {
  background-position: 300px 100px;
}

/* line 548, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+5) .pandgBox, .pandgBoxes .boxWrap:nth-child(5n+5) .pandgText {
  background-color: #002147;
}
/* line 549, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+5) .pandgBox {
  background-position: 400px 0px;
}

/* line 553, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+1) .pandgBox {
  background-color: #4891DC;
}
/* line 554, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+1) .pandgText {
  background-color: #1f5e9f;
}
/* line 555, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+1) .pandgBox {
  background-position: 0px 0px;
}
/* line 556, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+1) :hover .pandgBox {
  background-color: #73abe4;
  transition: .5s ease-in-out;
}
/* line 557, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+1) :hover .pandgText {
  background-color: #2777ca;
  transition: .5s ease-in-out;
}

/* line 560, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+2) .pandgBox {
  background-color: #69913B;
}
/* line 561, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+2) .pandgText {
  background-color: #4f6d2c;
}
/* line 562, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+2) .pandgBox {
  background-position: 100px 100px;
}
/* line 563, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+2) :hover .pandgBox {
  background-color: #83b54a;
  transition: .5s ease-in-out;
}
/* line 564, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+2) :hover .pandgText {
  background-color: #69913b;
  transition: .5s ease-in-out;
}

/* line 567, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+3) .pandgBox {
  background-color: #CF7A30;
}
/* line 568, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+3) .pandgText {
  background-color: #a66226;
}
/* line 569, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+3) .pandgBox {
  background-position: 200px 0px;
}
/* line 570, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+3) :hover .pandgBox {
  background-color: #d99559;
  transition: .5s ease-in-out;
}
/* line 571, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+3) :hover .pandgText {
  background-color: #cf7a30;
  transition: .5s ease-in-out;
}

/* line 574, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+4) .pandgBox {
  background-color: #BE0F34;
}
/* line 575, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+4) .pandgText {
  background-color: #8f0b27;
}
/* line 576, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+4) .pandgBox {
  background-position: 300px 100px;
}
/* line 577, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+4) :hover .pandgBox {
  background-color: #ec1441;
  transition: .5s ease-in-out;
}
/* line 578, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+4) :hover .pandgText {
  background-color: #be0f34;
  transition: .5s ease-in-out;
}

/* line 581, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+5) .pandgBox {
  background-color: #002147;
}
/* line 582, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+5) .pandgText {
  background-color: #002147;
}
/* line 583, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+5) .pandgBox {
  background-position: 400px 0px;
}
/* line 584, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+5) :hover .pandgBox {
  background-color: #00397a;
  transition: .5s ease-in-out;
}
/* line 585, ../sass/style.scss */
.pandgBoxes .boxWrap:nth-child(5n+5) :hover .pandgText {
  background-color: #00397a;
  transition: .5s ease-in-out;
}

/* bootstrap tabs */
/* line 593, ../sass/style.scss */
.nav-tabs {
  font-size: 18px;
  border: none;
  font-family: "Merriweather", serif;
}

/* line 598, ../sass/style.scss */
.nav-tabs .icon {
  padding-right: 10px;
}

/* line 601, ../sass/style.scss */
.nav-tabs > li > a {
  background-color: #ECECFB;
  color: #002147;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 20px;
  margin-right: 5px;
}

/* line 608, ../sass/style.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #002147;
  color: white;
}

/* line 612, ../sass/style.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #002147;
  color: white;
}

/* line 616, ../sass/style.scss */
.nav-tabs > li.active > a:after {
  content: "\f0d8";
  font-family: fontawesome;
  font-size: 20px;
  position: absolute;
  bottom: -11px;
  left: 50%;
  color: white;
}

/* line 625, ../sass/style.scss */
.nav-tabs > li > a:hover:after {
  content: "\f0d8";
  font-family: fontawesome;
  font-size: 20px;
  position: absolute;
  bottom: -11px;
  left: 50%;
  color: white;
}

/* sidebar */
/* line 640, ../sass/style.scss */
.sideboxTools {
  background-color: #69913B;
}

/* line 643, ../sass/style.scss */
.sideboxServices {
  background-color: #CF7A30;
}

/* line 646, ../sass/style.scss */
.sideboxInfo {
  background-color: #4891DC;
}

/* line 649, ../sass/style.scss */
.sideboxTools, .sideboxServices, .sideboxInfo {
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

/* line 655, ../sass/style.scss */
.sideboxTools span, .sideboxServices span, .sideboxInfo span {
  font-size: 20px;
  font-family: "Merriweather", serif;
}

/* line 661, ../sass/style.scss */
.sideboxTools li, .sideboxServices li, .sideboxInfo li {
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  margin-left: -38px;
  padding-top: 5px;
}
/* line 667, ../sass/style.scss */
.sideboxTools li a, .sideboxServices li a, .sideboxInfo li a {
  color: white;
}

/* services */
/* line 676, ../sass/style.scss */
.servBox {
  margin-bottom: 20px;
  width: 100%;
  Height: 200px;
  background-image: url(../img/watermark.png);
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/* line 686, ../sass/style.scss */
.servBox .servTitle {
  font-size: 22px;
  font-family: "Merriweather", serif;
  display: block;
  padding: 30px 10px 10px 10px;
}
/* line 692, ../sass/style.scss */
.servBox .servText {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  height: 100px;
}
/* line 698, ../sass/style.scss */
.servBox .servBoxOvly {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 703, ../sass/style.scss */
.servBox .servBoxOvly {
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  top: 50%;
}
/* line 707, ../sass/style.scss */
.servBox :hover .servBoxOvly {
  top: 0;
}
/* line 710, ../sass/style.scss */
.servBox .servText {
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  position: absolute;
  top: 200px;
}
/* line 715, ../sass/style.scss */
.servBox :hover .servText {
  position: absolute;
  top: 50%;
}

/* line 723, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+1) .servBox, .servBoxes .boxWrap:nth-child(5n+1) .servBoxOvly {
  background-color: #4891DC;
}
/* line 725, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+1) .servBox {
  background-position: 0px 0px;
}

/* line 729, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+2) .servBox, .servBoxes .boxWrap:nth-child(5n+2) .servBoxOvly {
  background-color: #69913B;
}
/* line 731, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+2) .servBox {
  background-position: 100px 100px;
}

/* line 735, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+3) .servBox, .servBoxes .boxWrap:nth-child(5n+3) .servBoxOvly {
  background-color: #CF7A30;
}
/* line 737, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+3) .servBox {
  background-position: 200px 0px;
}

/* line 741, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+4) .servBox, .servBoxes .boxWrap:nth-child(5n+4) .servBoxOvly {
  background-color: #BE0F34;
}
/* line 743, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+4) .servBox {
  background-position: 300px 100px;
}

/* line 747, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+5) .servBox, .servBoxes .boxWrap:nth-child(5n+5) .servBoxOvly {
  background-color: #002147;
}
/* line 749, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+5) .servBox {
  background-position: 400px 0px;
}

/* line 754, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+1) .servBox, .servBoxes .boxWrap:nth-child(5n+1) .servBoxOvly {
  background-color: #4891DC;
}
/* line 755, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+1) .servBox {
  background-position: 0px 0px;
}

/* line 758, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+2) .servBox, .servBoxes .boxWrap:nth-child(5n+2) .servBoxOvly {
  background-color: #69913B;
}
/* line 759, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+2) .servBox {
  background-position: 100px 100px;
}

/* line 762, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+3) .servBox, .servBoxes .boxWrap:nth-child(5n+3) .servBoxOvly {
  background-color: #CF7A30;
}
/* line 763, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+3) .servBox {
  background-position: 200px 0px;
}

/* line 766, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+4) .servBox, .servBoxes .boxWrap:nth-child(5n+4) .servBoxOvly {
  background-color: #BE0F34;
}
/* line 767, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+4) .servBox {
  background-position: 300px 100px;
}

/* line 770, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+5) .servBox, .servBoxes .boxWrap:nth-child(5n+5) .servBoxOvly {
  background-color: #002147;
}
/* line 771, ../sass/style.scss */
.servBoxes .boxWrap:nth-child(5n+5) .servBox {
  background-position: 400px 0px;
}

/* i want to landing page */
/* line 779, ../sass/style.scss */
#iwantto {
  text-align: center;
}
/* line 783, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+1) .icon {
  background-color: #4891DC;
}
/* line 784, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+1) :hover .icon {
  background-color: white;
  color: #4891DC;
  border: 1px solid #4891DC;
}
/* line 791, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+2) .icon {
  background-color: #69913B;
}
/* line 792, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+2) :hover .icon {
  background-color: white;
  color: #69913B;
  border: 1px solid #69913B;
}
/* line 799, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+3) .icon {
  background-color: #CF7A30;
}
/* line 800, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+3) :hover .icon {
  background-color: white;
  color: #CF7A30;
  border: 1px solid #CF7A30;
}
/* line 807, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+4) .icon {
  background-color: #BE0F34;
}
/* line 808, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+4) :hover .icon {
  background-color: white;
  color: #BE0F34;
  border: 1px solid #BE0F34;
}
/* line 815, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+5) .icon {
  background-color: #002147;
}
/* line 816, ../sass/style.scss */
#iwantto .iwantto:nth-child(5n+5) :hover .icon {
  background-color: white;
  color: #002147;
  border: 1px solid #002147;
}
/* line 822, ../sass/style.scss */
#iwantto .iwantto span {
  display: block;
  font-size: 22px;
  font-family: "Merriweather", serif;
  color: #001F46;
}
/* line 828, ../sass/style.scss */
#iwantto .iwanttoWrap {
  padding: 20px;
  min-height: 200px;
}
/* line 832, ../sass/style.scss */
#iwantto a:hover {
  text-decoration: none;
}
/* line 835, ../sass/style.scss */
#iwantto .iwantto .icon {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 838, ../sass/style.scss */
#iwantto .iwantto:hover .icon {
  transform: scale(1.2);
}
/* line 841, ../sass/style.scss */
#iwantto .iwantto .icon {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
}
/* line 847, ../sass/style.scss */
#iwantto .iwantto .fa {
  color: white;
  font-size: 36px;
  padding: 10px 0;
}

/* i want to sub page */
/* line 858, ../sass/style.scss */
h1.iwantto .icon {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #69913B;
  color: white;
}

/* line 866, ../sass/style.scss */
h1.iwantto .fa {
  font-size: 36px;
  padding: 10px 20px;
  margin-right: 10px;
}

/* line 871, ../sass/style.scss */
.iwantto span h1 {
  display: block;
  font-size: 22px;
  font-family: "Merriweather", serif;
  color: #001F46;
}

/* bootstrap accordion */
/* line 882, ../sass/style.scss */
#accordion {
  text-align: left;
}

/* line 886, ../sass/style.scss */
.panel-default {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 891, ../sass/style.scss */
.panel-default > .panel-heading {
  color: white;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 896, ../sass/style.scss */
.panel-default:nth-child(odd) .panel-heading {
  background-color: #4891DC;
}

/* line 899, ../sass/style.scss */
.panel-default:nth-child(even) .panel-heading {
  background-color: #73abe4;
}

/* line 902, ../sass/style.scss */
.panel-default > .panel-heading h4 {
  font-family: "Merriweather", serif;
  font-size: 22px;
}

/* line 906, ../sass/style.scss */
.panel-default .panel-title > a {
  display: block;
}

/* line 909, ../sass/style.scss */
.panel-default .panel-title a:after {
  content: "\f068";
  font-family: fontawesome;
  position: absolute;
  right: 30px;
  margin-top: 5px;
  font-size: 14px;
}

/* line 917, ../sass/style.scss */
.panel-default .panel-title a.collapsed:after {
  content: "\f067";
  font-family: fontawesome;
  position: absolute;
  right: 30px;
  margin-top: 5px;
  font-size: 14px;
}

/* footer */
/* line 932, ../sass/style.scss */
.barBottom {
  height: 2px;
  margin-bottom: 2px;
  background-color: #002147;
}

/* line 937, ../sass/style.scss */
footer {
  color: white;
  min-height: 200px;
  padding-top: 20px;
}
/* line 941, ../sass/style.scss */
footer .sitename {
  font-size: 22px;
  text-transform: uppercase;
}
/* line 945, ../sass/style.scss */
footer .heading {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 949, ../sass/style.scss */
footer .copyright {
  font-size: 12px;
  margin-top: 20px;
}
/* line 953, ../sass/style.scss */
footer .infosecicon img {
  width: 30px;
  position: absolute;
  top: 3px;
  padding-left: 10px;
}

/* line 961, ../sass/style.scss */
#footerLinks li {
  list-style: none;
}
/* line 964, ../sass/style.scss */
#footerLinks li a {
  color: white;
}
/* line 967, ../sass/style.scss */
#footerLinks li a:hover {
  list-style: underline;
}

/* site social icons */
/* line 980, ../sass/style.scss */
#social-links {
  margin-left: -37px;
}

/* line 984, ../sass/style.scss */
#social-links h2 {
  position: absolute;
  margin-left: -9999px;
}
/* line 988, ../sass/style.scss */
#social-links li {
  margin-right: 10px;
  display: inline;
  list-style: none;
}
/* line 993, ../sass/style.scss */
#social-links li a {
  color: #fff;
  overflow: hidden;
  padding: 4px 20px;
  margin-top: 20px;
}
/* line 1001, ../sass/style.scss */
#social-links .fa:hover {
  color: #002147;
}
/* line 1004, ../sass/style.scss */
#social-links .fa {
  color: #fff;
  font-size: 1.4em;
}

/* line 1010, ../sass/style.scss */
#social-links li .fa-rss {
  background-color: #FF9900;
}
/* line 1011, ../sass/style.scss */
#social-links li .fa-twitter {
  background-color: #28A9E0;
}
/* line 1012, ../sass/style.scss */
#social-links li .fa-wordpress {
  background-color: #007897;
}
/* line 1013, ../sass/style.scss */
#social-links li .fa-rss:hover,
#social-links li .fa-twitter:hover,
#social-links li .fa-wordpress:hover {
  background-color: white;
  text-decoration: none;
}
/* line 1016, ../sass/style.scss */
#social-links li .fa-rss:hover {
  color: #FF9900;
}
/* line 1017, ../sass/style.scss */
#social-links li .fa-twitter:hover {
  color: #28A9E0;
}
/* line 1018, ../sass/style.scss */
#social-links li .fa-wordpress:hover {
  color: #007897;
}

/* buttons */
/* line 1024, ../sass/style.scss */
.btn {
  background-color: #4891DC;
  color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  white-space: normal;
}

/* line 1030, ../sass/style.scss */
.btn:hover {
  background-color: #002147;
  color: #fff;
}

/* line 1033, ../sass/style.scss */
.btn .fa {
  padding-left: 5px;
  color: white;
}

/* line 1038, ../sass/style.scss */
.btnLge {
  padding: 10px 5px;
  font-size: 22px;
  font-family: "Merriweather", serif;
}

/* line 1045, ../sass/style.scss */
.btn:after, .btnLge:after {
  content: "\f0da";
  font-family: fontawesome;
  padding-left: 10px;
}

/* links with rh chevron */
/* line 1057, ../sass/style.scss */
.quicklinks > li {
  list-style: none;
  margin-left: -40px;
}

/* line 1061, ../sass/style.scss */
.quicklinks .fa-caret-right {
  color: #001F46;
  font-size: 14px;
  padding: 0;
  margin: 0 0 0 5px;
  text-align: left;
  height: 20px;
}

/* line 1069, ../sass/style.scss */
.quicklinks li a:after {
  content: "\f0da";
  font-family: fontawesome;
  font-weight: bold;
  padding-left: 10px;
}

/* headingBtn */
/* line 1079, ../sass/style.scss */
.headingBtn .quickref {
  background-color: #CF7A30;
  padding: 15px;
  color: white;
  display: inline-block;
}

/* slideshow */
/* line 1088, ../sass/style.scss */
.slideshow {
  position: relative;
  margin-bottom: 20px;
}
/* line 1091, ../sass/style.scss */
.slideshow img {
  width: 100%;
}
/* line 1094, ../sass/style.scss */
.slideshow .overlay {
  width: 540px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 15px;
  left: 30px;
  padding: 20px;
  text-align: right;
}
/* line 1103, ../sass/style.scss */
.slideshow .text {
  font-size: 18px;
  color: white;
}
/* line 1107, ../sass/style.scss */
.slideshow .text h4 {
  font-size: 38px;
  font-family: "Open Sans", sans-serif;
  color: white;
}
/* line 1112, ../sass/style.scss */
.slideshow .views-content-counter {
  color: #4891DC;
  background-color: #4891DC;
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
/* line 1120, ../sass/style.scss */
.slideshow .views-content-counter.active, .slideshow .views-content-counter:hover {
  color: white;
  background-color: white;
}
/* line 1124, ../sass/style.scss */
.slideshow a.views-content-counter:last-child {
  margin-right: 15px;
}
/* line 1127, ../sass/style.scss */
.slideshow .slideshow-pager {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* form */
/* line 1141, ../sass/style.scss */
form {
  /* radio */
  /* checkbox */
}
/* line 1142, ../sass/style.scss */
form .btn-default {
  background-color: #4891DC;
  color: white;
  border-radius: 0;
}
/* line 1148, ../sass/style.scss */
form .form-control {
  border-radius: 0;
  border: solid 1px #4891DC;
}
/* line 1153, ../sass/style.scss */
form .formGrp {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}
/* line 1159, ../sass/style.scss */
form fieldset {
  border: solid 1px #4891DC;
  margin: 40px 0;
}
/* line 1163, ../sass/style.scss */
form legend {
  width: 17%;
  padding-left: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
}
/* line 1170, ../sass/style.scss */
form .form-control.ipadd, form .form-control.macadd {
  width: 52px;
  margin-right: 10px;
  float: left;
}
/* line 1179, ../sass/style.scss */
form input[type=radio] {
  opacity: 0;
}
/* line 1182, ../sass/style.scss */
form input[type=radio] + span:before {
  position: relative;
  font-size: 1.4em;
  color: #4891DC;
  margin-right: 10px;
}
/* line 1188, ../sass/style.scss */
form input[type=radio] + span:before {
  content: "\f10c";
  font-family: fontawesome;
}
/* line 1192, ../sass/style.scss */
form input[type=radio]:checked + span:before {
  content: "\f05d";
  font-family: fontawesome;
}
/* line 1198, ../sass/style.scss */
form input[type=checkbox] {
  opacity: 0;
}
/* line 1201, ../sass/style.scss */
form input[type=checkbox] + span:before {
  position: relative;
  font-size: 1.4em;
  color: #4891DC;
  margin-right: 10px;
}
/* line 1207, ../sass/style.scss */
form input[type=checkbox] + span:before {
  content: "\f096";
  font-family: fontawesome;
}
/* line 1211, ../sass/style.scss */
form input[type=checkbox]:checked + span:before {
  content: "\f046";
  font-family: fontawesome;
}
/* line 1215, ../sass/style.scss */
form .radio label, form .checkbox label {
  padding-left: 0;
}

/* responsive adjustments */
/* small phones */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 1231, ../sass/style.scss */
  #homepage h2 {
    margin-top: 30px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 1238, ../sass/style.scss */
  .quicklinks {
    clear: both;
  }

  /* line 1241, ../sass/style.scss */
  .slideshow {
    margin-bottom: 60px;
  }
  /* line 1243, ../sass/style.scss */
  .slideshow img {
    display: none;
  }
  /* line 1246, ../sass/style.scss */
  .slideshow .overlay {
    background: none;
    position: inherit;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }
  /* line 1253, ../sass/style.scss */
  .slideshow .text {
    color: black;
  }
  /* line 1256, ../sass/style.scss */
  .slideshow .text h4 {
    color: black;
  }
  /* line 1259, ../sass/style.scss */
  .slideshow a:hover {
    text-decoration: none;
  }
  /* line 1262, ../sass/style.scss */
  .slideshow .slideshow-pager {
    right: 0;
    bottom: -35px;
  }
}
/* Large Devices, Wide Screens */
/* Large Devices, Wide Screens */
